
<html>
<head>
<title>table in html</title>
   <style>
        table
           {
              border:1px solid black
           }
       th,td,tr
           {
              border:1px solid black
           }
           li
            {
               border:1px solid black;
               background-color: #f2f2f2;
               width:100px;
               margin-bottom:5px;
            }
   </style> 
</head>
 <body>
 <ul>
  <li style="background-color: #99ff99">One</li>
  <li stytle="background-color: #9999ff">Two</li>
  <li style="background-color: #ffff99">Three</li>
  <li style="background-color: #cc99ff">Four</li>
  <li style="background-color: #FFFFE0;">Five</li>
  <li style="background-color: #0000FF">Six</li>
 </ul>
<table>
   <tr>
       <th>State</th>
        <th>Chief minister</th>
        <th>capital</th>
   </tr>
   <tr>
       <td>Andhra Pradesh</td>
        <td>Jagan</td>
        <td>Amaravati</td>
   </tr>
    <tr>
       <td>Telanagana</td>
        <td>KCR</td>
        <td>Hyderabad</td>
   </tr>
   <tr>
       <td>Karnataka</td>
        <td>Bommai</td>
        <td>Bengaluru</td>
   </tr>
   <tr>
       <td>Maharashtra </td>
        <td>Udhav thakery</td>
        <td>Mumbai</td>
   </tr>
   <tr>
       <td>Kerala</td>
        <td>Pinarayi Vijayan</td>
        <td>Thiruvananthapuram</td>
   </tr>
</table>
<ul>
    <li>1</li>
        <ul>
            <li>1.1</li>
            <li>1.2</li>
       </ul>
    <li>2</li>
       <ul>
          <li>2.1</li>
          <li>2.2</li>
          <li>2.3</li>
       </ul>
   </ul>
<a href="https://www.google.com/" target="_blank">click here to get to a new page</a><br>
<br>
<a href="https://www.google.com/">click here to get link to the same page </a>

</body>
</html>