.List1
{
    background-color: #99ff99;
    width: 100px;

}
.List2
{
    background-color: #9999ff;
    width: 100px;

}
.List3
{
    background-color: #ffff99;
    width: 100px;

}
.List4
{
    background-color: #cc99ff;
    width: 100px;

}
.List5
{
    background-color: #FFFFE0;
    width: 100px;

}
.List6
{
    background-color: #0000FF;
    width: 100px;
}

.NestedLists li
{
 margin-bottom: 5px;
 background-color: #f2f2f2;
 width:100px;
}




